workflow/jkh-priority-workflow.json
{
  "name": "jkh-priority-workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "jkh-priority",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        736,
        336
      ],
      "id": "ff9c742c-3c42-48d9-9838-4866b6a4d956",
      "name": "Запрос начальных данных",
      "webhookId": "9a4f32a3-124b-4928-bb92-9632ac49020c",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gemma3:4b",
          "mode": "list",
          "cachedResultName": "gemma3:4b"
        },
        "messages": {
          "values": [
            {
              "content": "=Ты — эксперт по ЖКХ России. Определи приоритет заявки.\n\nТип заявки: [Execute previous nodes for preview]\n\nКРИТЕРИИ ПРИОРИТЕТОВ:\n1 = угроза жизни: ГАЗ, ПОЖАР, ДЫМ, ИСКРЕНИЕ ПРОВОДКИ\n2 = угроза здоровью: затопление, лед перед входной дверью\n3 = серьёзное неудобство: нет ГВС >1 дня, мусор в подъезде, застрял лифт с людьми\n4 = бытовая проблема: течёт кран, скрипит дверь, нет ХВС <1 дня, нет света в подъезде\n5 = эстетика: грязные окна, паутина, сколы на стенах\n6 = пожелание: слова \"хотим\", \"добавьте\", \"установите\", \"покрасьте\"\n\nВАЖНО:\n- Анализируй опасность ДЛЯ ВСЕХ жильцов, не только заявителя\n- Если угроза жизни — игнорируй статус жильца (всегда приоритет 1)\n- Зимой отопление = критично, летом = не критично\n\nДАННЫЕ:\nТекст заявки: {{ $('Запрос начальных данных').item.json.body.message }}\nПримечания к жильцу: {{ $('Запрос начальных данных').item.json.body.resident_notes }}\nДата: {{ $('Запрос начальных данных').item.json.body.currentDateTime }}\n\nФОРМАТ ОТВЕТА:\n{\n  \"priority\": \"ТОЛЬКО ЦИФРА ОТ 1 ДО 6\",\n  \"explanation\": \"краткое объяснение на русском языке (до 100 символов)\"\n}\n\nВАЖНО: ОТВЕЧАЙ ТОЛЬКО ЧИСТЫМ JSON БЕЗ КОДОВЫХ БЛОКОВ, БЕЗ КОММЕНТАРИЕВ, БЕЗ ПОЯСНЕНИЙ. НЕ ИСПОЛЬЗУЙ ```json ИЛИ ```.\nТОЛЬКО {\"priority\":\"цифра\",\"explanation\":\"текст\"}."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        2768,
        336
      ],
      "id": "d0c83767-514e-4aa3-a04e-64f93ee8d976",
      "name": "Получение приоритета",
      "credentials": {
        "ollamaApi": {
          "id": "ljirGh5nNJSqyEgS",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        3728,
        320
      ],
      "id": "0b02c388-6972-4839-aae4-8eeed237aae2",
      "name": "Возвращение результата"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e934b0ff-de02-4d7c-a784-35b667c1af73",
              "name": "message",
              "value": "Не требует действия",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2144,
        512
      ],
      "id": "ef7147ca-9293-4d9b-aabd-6c9f44577df9",
      "name": "Не требует действия"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2448,
        512
      ],
      "id": "04b783f8-6473-4a07-9acf-e307e69ea3d3",
      "name": "Ответ на не требующий действия ввод"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gemma3:4b",
          "mode": "list",
          "cachedResultName": "gemma3:4b"
        },
        "messages": {
          "values": [
            {
              "content": "=Проанализируй сообщение и перечисли ВСЕ проблемы, которые упомянуты или подразумеваются. Не ограничивайся только явным текстом — ищи косвенные признаки опасности. Учитывай статус жильца, связан ли он с проблемой.\n\n\nФОРМАТ ОТВЕТА:\n{\n  \"explicit_problems\": [\"проблемы, указанные прямо\"],\n  \"implicit_problems\": [\"скрытые угрозы, которые можно вывести из контекста\"],\n  \"risk_factors\": [\"факторы, усиливающие опасность (время, статус жильца, погода)\"]\n}\n\nСООБЩЕНИЕ: \"{{ $('Запрос начальных данных').item.json.body.message }}\"\nСТАТУС ЖИЛЬЦА: \"{{ $('Запрос начальных данных').item.json.body.resident_notes }}\"\nДАТА И ВРЕМЯ: \"{{ $('Запрос начальных данных').item.json.body.currentDateTime }}\"\n\nУЧИТЫВАЙ СКРЫТЫЕ УГРОЗЫ\nВАЖНО: ОТВЕЧАЙ ТОЛЬКО ЧИСТЫМ JSON БЕЗ КОДОВЫХ БЛОКОВ, БЕЗ КОММЕНТАРИЕВ, БЕЗ ПОЯСНЕНИЙ. НЕ ИСПОЛЬЗУЙ ```json ИЛИ ```."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        2128,
        144
      ],
      "id": "25370159-7505-4f84-90e0-d3db391b1c7c",
      "name": "Анализ возможеных проблем",
      "credentials": {
        "ollamaApi": {
          "id": "ljirGh5nNJSqyEgS",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gemma3:4b",
          "mode": "list",
          "cachedResultName": "gemma3:4b"
        },
        "messages": {
          "values": [
            {
              "content": "=Для КАЖДОЙ проблемы из списка оцени потенциальные последствия по шкале:\n\nПОСЛЕДСТВИЯ:\n- катастрофические: смерть, взрыв, массовое отравление, пожар всего дома\n- критические: травмы, госпитализация, затопление нескольких квартир\n- серьёзные: материальный ущерб, временная непригодность жилья\n- умеренные: дискомфорт, необходимость ремонта\n\nФОРМАТ ОТВЕТА:\n{\n  \"consequences\": [\n    {\n      \"problem\": \"проблема из списка\",\n      \"severity\": \"катастрофические/критические/серьёзные/умеренные\",\n      \"timeline\": \"как быстро последствия наступят (секунды/минуты/часы/дни)\",\n      \"affected_scope\": \"кто пострадает (один человек/квартира/подъезд/весь дом)\"\n    }\n  ]\n}\n\nПРОБЛЕМЫ: {{ $json.content }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        2448,
        144
      ],
      "id": "02d66826-7c2e-45e1-8124-47a63236c6e8",
      "name": "Анализ последствий",
      "credentials": {
        "ollamaApi": {
          "id": "ljirGh5nNJSqyEgS",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "4265a567-56fe-47ec-878c-e6557825c2dc",
              "leftValue": "={{ $('Запрос начальных данных').item.json.body.explanation }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3312,
        336
      ],
      "id": "12789762-2ba7-4302-93a6-1f537586fb69",
      "name": "Нужно объяснение выбора?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "34e83ad4-0556-4f07-9eaa-a24307f35801",
              "name": "priority",
              "value": "={{ $('Парсер json').item.json.priority }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3520,
        416
      ],
      "id": "580a3539-8b60-4eca-9ce8-21d2ae8d570c",
      "name": "Только приоритет"
    },
    {
      "parameters": {
        "jsCode": "return JSON.parse($input.first().json.content\n    .replace(/```json\\s*|\\s*```/gi, '')\n    .trim());\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3104,
        336
      ],
      "id": "2e43a3d3-dc65-4535-aa83-0d964423b2bf",
      "name": "Парсер json"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gemma3:4b",
          "mode": "list",
          "cachedResultName": "gemma3:4b"
        },
        "messages": {
          "values": [
            {
              "content": "=ПРОВЕДИ ТЩАТЕЛЬНЫЙ АНАЛИЗ ПОСЛЕДСТВИЙ и определи МАКСИМАЛЬНЫЙ приоритет по шкале 1-6:\n\nПРИОРИТЕТ 1 (немедленное действие, секунды-минуты):\n- Угроза жизни: газ, пожар, дым, запах газа, обрушение\n- Последствия: катастрофические, затрагивает весь дом\n\nПРИОРИТЕТ 2 (срочно, минуты-часы):\n- Угроза здоровью: затопление, лед у двери, вода в подвале, отсутствие отопления зимой, прорыв трубы\n- Последствия: критические, затрагивает несколько квартир\n\nПРИОРИТЕТ 3 (в течение дня):\n- Серьёзное неудобство: нет ГВС >1 дня, мусор >3 дней, застрял лифт\n- Последствия: серьёзные, затрагивает подъезд\n\nПРИОРИТЕТ 4 (в течение недели):\n- Бытовые проблемы: течёт кран, скрипит дверь, нет света в подъезде\n- Последствия: умеренные, одна квартира\n\nПРИОРИТЕТ 5 (планово):\n- Эстетика: грязные окна, сколы, паутина\n- Последствия: минимальные\n\nПРИОРИТЕТ 6 (низкий):\n- Пожелания без проблемы\n\nАНАЛИЗ ПОСЛЕДСТВИЙ: {{ $('Анализ последствий').item.json.content }}\n\nФОРМАТ ОТВЕТА:\n{\n  \"priority\": \"ТОЛЬКО ЦИФРА ОТ 1 ДО 6\",\n  \"explanation\": \"краткое объяснение на русском языке (до 100 символов)\"\n}\n\nВАЖНО: ОТВЕЧАЙ ТОЛЬКО ЧИСТЫМ JSON БЕЗ КОДОВЫХ БЛОКОВ, БЕЗ КОММЕНТАРИЕВ, БЕЗ ПОЯСНЕНИЙ. НЕ ИСПОЛЬЗУЙ ```json ИЛИ ```.\nТОЛЬКО {\"priority\":\"цифра\",\"explanation\":\"текст\"}."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        2768,
        144
      ],
      "id": "06f65d09-9843-4a91-a497-e7342ebc1362",
      "name": "Получение приоритета по анализу последствий",
      "credentials": {
        "ollamaApi": {
          "id": "ljirGh5nNJSqyEgS",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "Действие",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "ee9c531e-1f2f-4789-aa95-9462e2135ef0"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Действие"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "0c67ce11-f650-4404-9c2e-3cc8c0fa3d69",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "Пожелание",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Пожелание"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c40f9790-6861-498f-9fe8-19a4d115fd72",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "Не требует действия",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Не требует действия"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1760,
        320
      ],
      "id": "5247204f-71cc-4240-9d73-1ab8da5c0c2d",
      "name": "Switch"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gemma3:4b",
          "mode": "list",
          "cachedResultName": "gemma3:4b"
        },
        "messages": {
          "values": [
            {
              "content": "=Определи тип сообщения из домового чата одним словом: \"Действие\", \"Пожелание\" или \"Не требует действия\".\n\nТИПЫ:\n- Действие: СООБЩЕНИЕ О ПРОБЛЕМЕ, ТРЕБУЮЩЕЙ ВМЕШАТЕЛЬСТВА УПРАВЛЯЮЩЕЙ КОМПАНИИ\n  • Угроза жизни/здоровью (газ, пожар, затопление, искрение)\n  • Антисанитария (мусор >3 дней, вода в подвале, крысы)\n  • Повреждения инфраструктуры (сломанная дверь, нет света в подъезде)\n  • Нарушения комфорта (нет отопления зимой, нет ГВС >1 дня)\n  • Констатация факта с риском («В подвале вода», «Соседи шумят после 23:00»)\n\n- Пожелание: выражение желания улучшить что-то БЕЗ констатации проблемы\n  • Хотим лавочку во дворе\n  • Добавьте освещение в подъезде\n  • ПОКРАСЬТЕ СТЕНЫ\n  • Установите видеонаблюдение\n  → Нет текущей проблемы, только предложение улучшения\n\n- Не требует действия: всё остальное\n  • Вопросы без проблемы («Когда приедет мастер?», «Сколько стоит?»)\n  • Социальное общение («Привет», «Спасибо», «Доброе утро»)\n  • Спам/троллинг/бессмысленный текст\n  • Заявки не по теме ЖКХ («Где купить чай?»)\n\nСООБЩЕНИЕ: \"{{ $json.content }}\"\n\nОтветь ОДНИМ СЛОВОМ: \"Действие\", \"Пожелание\" или \"Не требует действия\"."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        1520,
        -48
      ],
      "id": "f05f18ce-cb41-4f53-aaa5-e8bd4ab724cb",
      "name": "Проверка сообщения на тип1",
      "credentials": {
        "ollamaApi": {
          "id": "ljirGh5nNJSqyEgS",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "model": "gemma3:4b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        1360,
        576
      ],
      "id": "a40c73fc-5e13-4662-8d23-3ceabb2b63b5",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "ljirGh5nNJSqyEgS",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "1"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1520,
        576
      ],
      "id": "901a69ea-5d86-4f21-b6be-c99376af5c89",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "762316f9-b2ca-4fcc-b88b-eda594b7603c",
              "name": "chatInput",
              "value": "=Определи тип сообщения из домового чата одним словом: \"Действие\", \"Пожелание\" или \"Не требует действия\".  \n\nУЧИТЫВАЙ КОНТЕКСТ ПРЕДЫДУЩИХ СООБЩЕНИЙ, ВОЗМОЖНО ЭТО СООБЩЕНИЕ НЕ ТРЕБУЕТ ДЕЙСТВИЙ, А ПРОСТО ЯВЛЯЕТСЯ СЛЕДСТВИЕМ ПРЕДЫДУЩИХ\n\nТИПЫ: - Действие: СООБЩЕНИЕ О ПРОБЛЕМЕ, ТРЕБУЮЩЕЙ ВМЕШАТЕЛЬСТВА УПРАВЛЯЮЩЕЙ КОМПАНИИ   \n• Угроза жизни/здоровью (газ, пожар, затопление, искрение)   \n• Антисанитария (мусор >3 дней, вода в подвале, крысы)   \n• Повреждения инфраструктуры (сломанная дверь, нет света в подъезде)   \n• Нарушения комфорта (нет отопления зимой, нет ГВС >1 дня)   \n• Констатация факта с риском («В подвале вода», «Соседи шумят после 23:00»)  \n\n- Пожелание: выражение желания улучшить что-то БЕЗ констатации проблемы   \n• Хотим лавочку во дворе   \n• Добавьте освещение в подъезде   \n• ПОКРАСЬТЕ СТЕНЫ   \n• Установите видеонаблюдение   \n→ Нет текущей проблемы, только предложение улучшения  \n\n- Не требует действия: всё остальное   \n• Вопросы без проблемы («Когда приедет мастер?», «Сколько стоит?»)   \n• Социальное общение («Привет», «Спасибо», «Доброе утро»)   \n• Спам/троллинг/бессмысленный текст   \n• Заявки не по теме ЖКХ («Где купить чай?»)  \n\nСООБЩЕНИЕ: \"{{ $json.body.message }}\"  Ответь ОДНИМ СЛОВОМ: \"Действие\", \"Пожелание\" или \"Не требует действия\".",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1280,
        336
      ],
      "id": "502de74a-feb2-405d-aacc-1c3257fc0401",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gemma3:4b",
          "mode": "list",
          "cachedResultName": "gemma3:4b"
        },
        "messages": {
          "values": [
            {
              "content": "=Обработай это сообщение, убери из него экспрессию, ругательства, вопросы. Оставь только саму суть\n\nСообщение:  {{ $json.body.message }}\n\nОТВЕТ НАПИШИ БЕЗ ПОЯСНЕНИЙ, ПРОСТО ВЫВЕДИ ОБРАБОТАННОЕ СООБЩЕНИЕ"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        1056,
        -160
      ],
      "id": "b2a5443d-922d-4928-995c-8f4f73d6c236",
      "name": "Упрощение сообщения1",
      "credentials": {
        "ollamaApi": {
          "id": "ljirGh5nNJSqyEgS",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1440,
        336
      ],
      "id": "30451323-c206-4b17-8a8a-f1e366a0df72",
      "name": "(Плохо работает, нужно дорабатывать)"
    }
  ],
  "pinData": {},
  "connections": {
    "Запрос начальных данных": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получение приоритета": {
      "main": [
        [
          {
            "node": "Парсер json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Не требует действия": {
      "main": [
        [
          {
            "node": "Ответ на не требующий действия ввод",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Анализ возможеных проблем": {
      "main": [
        [
          {
            "node": "Анализ последствий",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Анализ последствий": {
      "main": [
        [
          {
            "node": "Получение приоритета по анализу последствий",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Нужно объяснение выбора?": {
      "main": [
        [
          {
            "node": "Возвращение результата",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Только приоритет",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Только приоритет": {
      "main": [
        [
          {
            "node": "Возвращение результата",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Парсер json": {
      "main": [
        [
          {
            "node": "Нужно объяснение выбора?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получение приоритета по анализу последствий": {
      "main": [
        [
          {
            "node": "Парсер json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Анализ возможеных проблем",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Получение приоритета",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Не требует действия",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "(Плохо работает, нужно дорабатывать)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "(Плохо работает, нужно дорабатывать)",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "(Плохо работает, нужно дорабатывать)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "(Плохо работает, нужно дорабатывать)": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Europe/Moscow",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "20ea46f2-f273-4315-b5a7-4e33c1921ec0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "aa55928e16ab72babb87c711a72f87252d0cdea488d8915de05718b8b430205b"
  },
  "id": "Y9zsLqFSVe33rvnT",
  "tags": []
}