workflow/n8n-workflow.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "jkh-priority",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1008,
        160
      ],
      "id": "2a6845dd-cac8-43b5-9873-24159769657d",
      "name": "Запрос начальных данных",
      "webhookId": "9a4f32a3-124b-4928-bb92-9632ac49020c",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f5c88238-3979-484e-b270-dff81b155727",
              "leftValue": "={{ $json.body.message }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -784,
        160
      ],
      "id": "4baf5947-4a2d-4895-a576-66e7867e513c",
      "name": "Запрос не пустой?"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gemma3:4b",
          "mode": "list",
          "cachedResultName": "gemma3:4b"
        },
        "messages": {
          "values": [
            {
              "content": "=Текст заявки: \"{{ $json.body.message }}\"\nОписание жильца: \"{{ $json.body.resident_notes }}\"\n\nЭто осмысленный текст в контексте заявки в ЖКХ? \n\nУчти, что очень часто могут появляться опечатки или просто шутки, определяй их правильно.\nСтарайся учитывать особые группы населения: инвалиды, пенсионеры и т.д, но только если там не написан полный бред.\nОтветь ТОЛЬКО \"1\" если да, \"0\" если нет (бред, троллинг, мат, пустота, непонятный набор символов, невозможные опечатки)."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        -560,
        80
      ],
      "id": "d2e6ce96-bffe-42fe-80db-de70e7d0ddaf",
      "name": "Проверка осмысленности ввода",
      "credentials": {
        "ollamaApi": {
          "id": "ljirGh5nNJSqyEgS",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "2277d278-dd98-4548-9bdb-445c04415efe",
              "leftValue": "={{ $json.content }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -208,
        80
      ],
      "id": "e80e59e6-0b4f-4aae-a784-1a273e0eea4e",
      "name": "Запрос имеет смысл?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e78f6e1f-cf31-4189-9922-44a1baa328b4",
              "leftValue": "={{ $json.body.timestamp }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        16,
        32
      ],
      "id": "eeec3aff-4abf-41bf-b529-709f403833b6",
      "name": "Дата указана?"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        240,
        352
      ],
      "id": "f243e5e4-2964-478e-a0b6-69e114b33db6",
      "name": "Некорректный/Бессмысленный ввод"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "4265a567-56fe-47ec-878c-e6557825c2dc",
              "leftValue": "={{ $json.explanation }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        688,
        32
      ],
      "id": "314d2c73-7b12-4e12-8fc3-dca29fd004d3",
      "name": "Нужно объяснение выбора?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e934b0ff-de02-4d7c-a784-35b667c1af73",
              "name": "message",
              "value": "Некорректный/Бессмысленный ввод.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        16,
        352
      ],
      "id": "08d44e05-f599-41e1-82ae-f8a1a7523006",
      "name": "Некорректный/Бессмысленный ввод json"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e934b0ff-de02-4d7c-a784-35b667c1af73",
              "name": "chatInput",
              "value": "=Ты — эксперт по ЖКХ России. Определи приоритет заявки.\n\nКРИТЕРИИ ПРИОРИТЕТОВ:\n1 = угроза жизни: ГАЗ, ПОЖАР, ДЫМ, ИСКРЕНИЕ ПРОВОДКИ\n2 = угроза здоровью: затопление, лед перед входной дверью, нет отопления\n3 = серьёзное неудобство: нет ГВС >1 дня, мусор в подъезде, застрял лифт с людьми\n4 = бытовая проблема: течёт кран, скрипит дверь, нет ХВС <1 дня, нет света в подъезде\n5 = эстетика: грязные окна, паутина, сколы на стенах\n6 = пожелание: слова \"хотим\", \"добавьте\", \"установите\", \"покрасьте\"\n\nВАЖНО:\n- Анализируй опасность ДЛЯ ВСЕХ жильцов, не только заявителя\n- Если угроза жизни — игнорируй статус жильца (всегда приоритет 1)\n- Зимой отопление = критично, летом = не критично\n\nДАННЫЕ:\nТекст заявки: \"{{ $json.message }}\"\nПримечания к жильцу: \"{{ $json.resident_notes }}\"\nДата: \"{{ $json.currentDate }}\"\n\nФОРМАТ ОТВЕТА:\n{\n  \"priority\": \"ТОЛЬКО ЦИФРА ОТ 1 ДО 6\",\n  \"explanation\": \"краткое объяснение на русском языке (до 100 символов)\"\n}\n\nВАЖНО: ОТВЕЧАЙ ТОЛЬКО ЧИСТЫМ JSON БЕЗ КОДОВЫХ БЛОКОВ, БЕЗ КОММЕНТАРИЕВ, БЕЗ ПОЯСНЕНИЙ. НЕ ИСПОЛЬЗУЙ ```json ИЛИ ```.\nТОЛЬКО {\"priority\":\"цифра\",\"explanation\":\"текст\"}.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        912,
        -64
      ],
      "id": "2763222c-c86e-4cc5-a4c1-9790e0740e4f",
      "name": "Промпт с объяснением выбора приоритета"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e934b0ff-de02-4d7c-a784-35b667c1af73",
              "name": "chatInput",
              "value": "=Ты — эксперт по ЖКХ России. Определи приоритет заявки.\n\nКРИТЕРИИ ПРИОРИТЕТОВ:\n1 = угроза жизни: ГАЗ, ПОЖАР, ДЫМ, ИСКРЕНИЕ ПРОВОДКИ\n2 = угроза здоровью: затопление, лед перед входной дверью\n3 = серьёзное неудобство: нет ГВС >1 дня, мусор в подъезде, застрял лифт с людьми\n4 = бытовая проблема: течёт кран, скрипит дверь, нет ХВС <1 дня, нет света в подъезде\n5 = эстетика: грязные окна, паутина, сколы на стенах\n6 = пожелание: слова \"хотим\", \"добавьте\", \"установите\", \"покрасьте\"\n\nВАЖНО:\n- Анализируй опасность ДЛЯ ВСЕХ жильцов, не только заявителя\n- Если угроза жизни — игнорируй статус жильца (всегда приоритет 1)\n- Зимой отопление = критично, летом = не критично\n\nДАННЫЕ:\nТекст заявки: \"{{ $json.message }}\"\nПримечания к жильцу: \"{{ $json.resident_notes }}\"\nДата: \"{{ $json.currentDate }}\"\n\nФОРМАТ ОТВЕТА:\n{\n  \"priority\": \"ТОЛЬКО ЦИФРА ОТ 1 ДО 6\"\n}\n\nВАЖНО: ОТВЕЧАЙ ТОЛЬКО ЧИСТЫМ JSON БЕЗ КОДОВЫХ БЛОКОВ, БЕЗ КОММЕНТАРИЕВ, БЕЗ ПОЯСНЕНИЙ. НЕ ИСПОЛЬЗУЙ ```json ИЛИ ```.\nТОЛЬКО {\"priority\":\"цифра\"}.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        912,
        128
      ],
      "id": "fefed813-e4b1-474f-a74b-3e7690d9f921",
      "name": "Промпт без объяснения выбора приоритета"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gemma3:4b",
          "mode": "list",
          "cachedResultName": "gemma3:4b"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.chatInput }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        1136,
        32
      ],
      "id": "9f5a57ed-39a7-4c5d-ad21-1b67d64ddaf0",
      "name": "Получение приоритета",
      "credentials": {
        "ollamaApi": {
          "id": "ljirGh5nNJSqyEgS",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return JSON.parse($input.first().json.content\n    .replace(/```json\\s*|\\s*```/gi, '')\n    .trim());"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1488,
        32
      ],
      "id": "a752ecbc-dc58-4886-81c4-0cd6ae19c72b",
      "name": "Парсер в Json"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1712,
        32
      ],
      "id": "c25a732a-0271-476e-8ec2-3fc42e119afa",
      "name": "Возвращение результата"
    },
    {
      "parameters": {
        "options": {
          "timezone": "UTC+3"
        }
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        240,
        128
      ],
      "id": "49eb6e1b-3406-436a-9f59-877b15e6c3d7",
      "name": "Текущая дата(МСК)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e934b0ff-de02-4d7c-a784-35b667c1af73",
              "name": "message",
              "value": "={{ $json.body.message }}",
              "type": "string"
            },
            {
              "id": "ff8ccbf3-d74a-4a39-9835-5fa780661b8a",
              "name": "resident_notes",
              "value": "={{ $json.body.resident_notes }}",
              "type": "string"
            },
            {
              "id": "300e45dc-eed2-49f3-a301-0b3ce4c4ebd4",
              "name": "currentDate",
              "value": "={{ $json.body.timestamp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        464,
        -64
      ],
      "id": "ffde0f0e-6cfe-4e75-aa30-d7d9d29ec293",
      "name": "Json с заданной датой"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ab21ff1e-1571-47e7-b9b0-e899d0ce79ff",
              "name": "message",
              "value": "={{ $('Запрос начальных данных').item.json.body.message }}",
              "type": "string"
            },
            {
              "id": "a5d8c6fd-9a1e-4bd9-9794-049c1eede753",
              "name": "resident_notes",
              "value": "={{ $('Запрос начальных данных').item.json.body.resident_notes }}",
              "type": "string"
            },
            {
              "id": "7852baea-9664-420a-8f82-a8a1b11dfec8",
              "name": "currentDate",
              "value": "={{ $json.currentDate }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        464,
        128
      ],
      "id": "0af9eb4a-ae51-4751-9fa9-dc5738cee026",
      "name": "Json с текущей датой"
    }
  ],
  "pinData": {},
  "connections": {
    "Запрос начальных данных": {
      "main": [
        [
          {
            "node": "Запрос не пустой?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Запрос не пустой?": {
      "main": [
        [
          {
            "node": "Проверка осмысленности ввода",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Некорректный/Бессмысленный ввод json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Проверка осмысленности ввода": {
      "main": [
        [
          {
            "node": "Запрос имеет смысл?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Запрос имеет смысл?": {
      "main": [
        [
          {
            "node": "Дата указана?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Некорректный/Бессмысленный ввод json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Дата указана?": {
      "main": [
        [
          {
            "node": "Json с заданной датой",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Текущая дата(МСК)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Нужно объяснение выбора?": {
      "main": [
        [
          {
            "node": "Промпт с объяснением выбора приоритета",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Промпт без объяснения выбора приоритета",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Некорректный/Бессмысленный ввод json": {
      "main": [
        [
          {
            "node": "Некорректный/Бессмысленный ввод",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Промпт с объяснением выбора приоритета": {
      "main": [
        [
          {
            "node": "Получение приоритета",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Промпт без объяснения выбора приоритета": {
      "main": [
        [
          {
            "node": "Получение приоритета",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получение приоритета": {
      "main": [
        [
          {
            "node": "Парсер в Json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Парсер в Json": {
      "main": [
        [
          {
            "node": "Возвращение результата",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Текущая дата(МСК)": {
      "main": [
        [
          {
            "node": "Json с текущей датой",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Json с заданной датой": {
      "main": [
        [
          {
            "node": "Нужно объяснение выбора?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Json с текущей датой": {
      "main": [
        [
          {
            "node": "Нужно объяснение выбора?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Europe/Moscow",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "ebafaab5-131f-4088-b39d-ed60a6a29b1c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "495de335b203dba75e85eee086dd572a10a698c5841ea224191355325b642b51"
  },
  "id": "Y9zsLqFSVe33rvnT",
  "tags": []
}