workflow/telegram-listener.json
{
  "name": "telegram-listener",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        128,
        0
      ],
      "id": "f6ccf984-c0cf-43b9-be76-9205c983f220",
      "name": "Telegram Trigger",
      "webhookId": "8f1af5b7-2c65-4d3b-bcca-720944f19859",
      "credentials": {
        "telegramApi": {
          "id": "JNfJlxWOfk325cFq",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=Сообщение: {{ $('Telegram Trigger').item.json.message.text }}\nПриоритет: {{ $json.priority }}{{ $json.message }}\nПримечание: {{ $json.explanation }}{{ $json.message }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        672,
        0
      ],
      "id": "0ef93f95-a618-43b4-89de-7aec08bbd782",
      "name": "Send a text message",
      "webhookId": "cd19700a-b721-43bf-b9f3-6d8a35043c1f",
      "credentials": {
        "telegramApi": {
          "id": "JNfJlxWOfk325cFq",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://adjustably-nontypographical-kris.ngrok-free.dev/webhook/jkh-priority",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "=message",
              "value": "={{ $('Telegram Trigger').item.json.message.text }}"
            },
            {
              "name": "explanation",
              "value": "=1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        384,
        0
      ],
      "id": "1d196279-8b45-4e06-95eb-a724c067eb4c",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "84cdb4d0-037b-4e77-aa16-a8d6a0cec4c2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "aa55928e16ab72babb87c711a72f87252d0cdea488d8915de05718b8b430205b"
  },
  "id": "ztq12pc1oVHYn5uV",
  "tags": []
}